<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Reimburse Loan NSC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/cardview/remloannsc-functions.js"></script>
</head>

<body onload="initListeners()">
<section id="remloannscs">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/remloannsc/createRemLoanNsc}" th:object="${editRemLoanNsc}" method="post" id="remloannscForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="hidden" id="modal-id" th:field="*{id}">
                            <label for="recipient-name" class="col-form-label">Loan Type:</label>
                            <input type="text" class="form-control" id="modal-loanType" th:field="*{loanType}">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Nsc Number:</label>
                            <input type="text" class="form-control" id="modal-nscNumber" th:field="*{nscNumber}">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Number of certificates:</label>
                            <input type="text" class="form-control" id="modal-noOfCertificates" th:field="*{noOfCertificates}">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Nsc Purchase Date:</label>
                            <input type="date" class="form-control" id="modal-nscPurchaseDate" th:field="*{nscPurchaseDate}">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Nsc Value:</label>
                            <input type="text" class="form-control" id="modal-nscValue" th:field="*{nscValue}">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Nsc Maturity Date:</label>
                            <input type="date" class="form-control" id="modal-nscMaturityDate" th:field="*{nscMaturityDate}">
                        </div>
                    <div class="form-group">
                            <label for="message-text" class="col-form-label">Requested Amount:</label>
                            <input type="text" class="form-control amt" id="modal-requestedAmount" th:field="*{requestedAmount}">
                        </div>
                         <div class="form-group">
                            <label for="message-text" class="col-form-label">Number of Instalments:</label>
                            <input type="text" class="form-control" id="modal-noOfInstalments" th:field="*{noOfInstalments}">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Emi:</label>
                            <input type="text" class="form-control" id="modal-emi" th:field="*{emi}">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Remarks:</label>
                            <input type="text" class="form-control" id="modal-remarks" th:field="*{remarks}">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Upload Attachments:</label>
                            <div class="container" id="attachmentThumbnails">
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile02" accept="image/*" >
                                    <label class="custom-file-label" for="inputGroupFile02" id="inputGroupFile02_val" >Choose File</label>
                                </div>
                                <div class="input-group-append">
                                    <input type="button" class="input-group-text" id="inputGroupFile03" value="Upload">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="attachments" th:field="*{attachments}" value="">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="updateButton">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Cards Container -->
    <div th:switch="${remloannscs}" class="container">
        <div class="title">
            <h1>Reimburse Loan NSC</h1>
            <p>Card view. You can edit by clicking on a card.</p>
            <p><a href="/CardView/employee">Go to employee card view</a></p>
        </div>
        <h2 th:case="null">No record found !!</h2>
        <div th:case="*" class="row g-3">
            <div th:each="remloannsc,pos : ${remloannscs}" class="col-md-3">
                <div class="card text-center">
                    <div th:unless="${remloannsc.attachments == null}" th:id="${'cardCarousel_'+pos.index}" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li th:data-target="${'#cardCarousel_'+pos.index}" th:each="image,status : ${#strings.arraySplit(remloannsc.attachments, '|')}"
                                th:data-slide-to="${status.index}" th:if="${status.index == 0}" class="active"></li>
                            <li th:data-target="${'#cardCarousel_'+pos.index}" th:each="image,status : ${#strings.arraySplit(remloannsc.attachments, '|')}"
                                th:data-slide-to="${status.index}" th:unless="${status.index == 0}"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active" th:each="image,status : ${#strings.arraySplit(remloannsc.attachments, '|')}" th:if="${status.index == 0}">
                                <img th:src="'images/'+${image}" class="d-block w-100">
                            </div>
                            <div class="carousel-item" th:each="image,status : ${#strings.arraySplit(remloannsc.attachments, '|')}" th:unless="${status.index == 0}">
                                <img th:src="'images/'+${image}" class="d-block w-100">
                            </div>
                        </div>
                        <a class="carousel-control-prev" th:href="${'#cardCarousel_'+pos.index}" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" th:href="${'#cardCarousel_'+pos.index}" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="card-body" data-toggle="modal" data-target="#exampleModal"
                         th:attr="data-loantype=''+${remloannsc.loanType}+'', data-nscnumber=''+${remloannsc.nscNumber}+''
                            , data-noofcertificates=''+${remloannsc.noOfCertificates}+'', data-nscpurchasedate=''+${remloannsc.nscPurchaseDate}+''
                            , data-nscvalue=''+${remloannsc.nscValue}+'', data-nscmaturitydate=''+${remloannsc.nscMaturityDate}+''
                            , data-requestedamount=''+${remloannsc.requestedAmount}+'', data-noofinstalments=''+${remloannsc.noOfInstalments}+''
                            , data-interestrate=''+${remloannsc.interestRate}+'' , data-emi=''+${remloannsc.emi}+'', data-remarks=''+${remloannsc.remarks}+''
                            , data-id=''+${remloannsc.id}+''
                            , data-attachments=''+${remloannsc.attachments}+''">
                        <h5 class="card-title" th:text="${remloannsc.loanType}"></h5>
                        <p class="card-text-label"><i class="bi bi-pen"></i>LoanNsc Type</p>
                        <p class="card-text-value" th:text="${remloannsc.loanType}"></p>
                        <p class="card-text-label"><i class="bi bi-pen"></i>Nsc Number</p>
                        <p class="card-text-value" th:text="${remloannsc.nscNumber}"></p>
                        <p class="card-text-label"><i class="bi bi-pen"></i>No of Certificates</p>
                        <p class="card-text-value" th:text="${remloannsc.noOfCertificates}"></p>
                        <p class="card-text-label"><i class="bi bi-calendar-event"></i>Nsc Purchase Date</p>
                        <p class="card-text-value" th:text="${remloannsc.nscPurchaseDate}"></p>
                        <p class="card-text-label"><i class="bi bi-pen"></i>Nsc Value</p>
                        <p class="card-text-value" th:text="${remloannsc.nscValue}"></p>
                        <p class="card-text-label"><i class="bi bi-calendar-event"></i>Nsc Maturity Date</p>
                        <p class="card-text-value" th:text="${remloannsc.nscMaturityDate}"></p>
                        <p class="card-text-label"><i class="bi bi-currency-dollar"></i>Requested Amount</p>
                        <p class="card-text-value amt" th:text="${remloannsc.requestedAmount}"></p>
                        <p class="card-text-label"><i class="bi bi-receip"></i>No of Instalments</p>
                        <p class="card-text-value" th:text="${remloannsc.noOfInstalments}"></p>
                        <p class="card-text-label"><i class="bi bi-pen"></i>Interest Rate</p>
                        <p class="card-text-value" th:text="${remloannsc.interestRate}"></p>
                        <p class="card-text-label"><i class="bi bi-pen"></i>Emi</p>
                        <p class="card-text-value" th:text="${remloannsc.emi}"></p>
                        <p class="card-text-label"><i class="bi bi-journal-code"></i>Remarks</p>
                        <p class="card-text-value" th:text="${remloannsc.remarks}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>