<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Reimburse Scholars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/cardview/remscholar-functions.js"></script>
</head>

<body onload="initListeners()">
<section id="remscholars">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/remscholar/createRemScholar}" th:object="${editRemScholar}" method="post" id="remscholarForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="hidden" id="modal-id" th:field="*{id}">
                            <label for="message-text" class="col-form-label">Scholarship Type:</label>
                            <select class="form-select form-control" aria-label="Default select example" id="modal-scholarshipType" th:field="*{scholarshipType}">
                                <option value="Union Youth Honorarium" selected>Union Youth Honorarium</option>
                                <option value="Children Honorarium">Children Honorarium</option>
                                <option value="Employee Honorarium">Employee Honorarium</option>
                                <option value="Higher Edu Scholarship">Higher Edu Scholarship</option>
                           </select>
                        </div>
							<div class="form-group">
                            <label for="message-text" class="col-form-label">Child Name:</label>
                            <select class="form-select form-control" aria-label="Default select example" id="modal-childName" th:field="*{childName}">
                                <option value="Mahesh" selected>Mahesh</option>
                                <option value="Saraswati">Saraswati</option>
                                <option value="NA">NA</option>
                            </select>
                        </div>
                    		<div class="form-group">
                            <label for="message-text" class="col-form-label">Relationship:</label>
                            <select class="form-select form-control" aria-label="Default select example" id="modal-relationship" th:field="*{relationship}">
                                <option value="Daughter" selected>Daughter</option>
                                <option value="Son">Son</option>
                                <option value="NA">NA</option>
                            </select>
                        </div>
                         <div class="form-group">
							<label for="message-text" class="col-form-label">Financial Year:</label>
                            <select class="form-select form-control" aria-label="Default select example" id="modal-financialYear" th:field="*{financialYear}">
                                <option value="2019-20" selected>2019-20</option>
                                <option value="2020-21">2020-21</option>
                                <option value="2021-22">2021-22</option>
                                <option value="2022-23">2022-23</option>
                                <option value="NA">NA</option>
                            </select>
                        </div>
                         <div class="form-group">
                            <label for="message-text" class="col-form-label">College Name:</label>
                            <select class="form-select form-control" aria-label="Default select example" id="modal-collegeName" th:field="*{collegeName}">
                                <option value="State Level" selected>State Level</option>
                                <option value="National Level">National Level</option>
                                <option value="International Level">International Level</option>
                                <option value="CA Insitute">CA Insitute</option>
                                <option value="ICWA Institute, Blr">ICWA Institute, Blr</option>
                                <option value="PES">PES</option>
                           </select>
                        </div>
                         <div class="form-group">
                            <label for="message-text" class="col-form-label">Application Type:</label>
                            <select class="form-select form-control" aria-label="Default select example" id="modal-applicationType" th:field="*{applicationType}">
                                <option value="Gold Medalist" selected>Gold Medalist</option>
                                <option value="Silver Medalist">Silver Medalist</option>
                                <option value="Bronze Medalist">Bronze Medalist</option>
                                <option value="CA">CA</option>
                                <option value="ICWA">ICWA</option>
                                <option value="BE">BE</option>
                            </select>
                        </div>
                         <div class="form-group">
                      <label for="message-text" class="col-form-label">Passing Year:</label>
                            <select class="form-select form-control" aria-label="Default select example" id="modal-passingYear" th:field="*{passingYear}">
                                <option value="2020" selected>2020</option>
                                <option value="2019">2019</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                           </select>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Percentage:</label>
                            <input type="text" class="form-control" id="modal-percentage" th:field="*{percentage}">
                        </div>
							<div class="form-group">
                            <label for="message-text" class="col-form-label">Scholarship Amount:</label>
                            <input type="text" class="form-control amt" id="modal-scholarshipAmount" th:field="*{scholarshipAmount}">
                        </div>
    					 <div class="form-group">
                            <label for="message-text" class="col-form-label">Remarks:</label>
                            <input type="text" class="form-control" id="modal-remarks" th:field="*{remarks}">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Upload Attachments:</label>
                            <div class="container" id="attachmentThumbnails">
                            </div>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile02" accept="image/*" >
                                    <label class="custom-file-label" for="inputGroupFile02" id="inputGroupFile02_val" >Choose File</label>
                                </div>
                                <div class="input-group-append">
                                    <input type="button" class="input-group-text" id="inputGroupFile03" value="Upload">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="attachments" th:field="*{attachments}" value="">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="updateButton">Update</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Cards Container -->
    <div th:switch="${remscholars}" class="container">
        <div class="title">
            <h1>Reimburse Scholars</h1>
            <p>Card view. You can edit by clicking on a card.</p>
            <p><a href="/CardView/employee">Go to employee card view</a></p>
        </div>
        <h2 th:case="null">No record found !!</h2>
        <div th:case="*" class="row g-3">
            <div th:each="remscholar,pos : ${remscholars}" class="col-md-3">
                <div class="card text-center">
                    <div th:unless="${remscholar.attachments == null}" th:id="${'cardCarousel_'+pos.index}" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li th:data-target="${'#cardCarousel_'+pos.index}" th:each="image,status : ${#strings.arraySplit(remscholar.attachments, '|')}"
                                th:data-slide-to="${status.index}" th:if="${status.index == 0}" class="active"></li>
                            <li th:data-target="${'#cardCarousel_'+pos.index}" th:each="image,status : ${#strings.arraySplit(remscholar.attachments, '|')}"
                                th:data-slide-to="${status.index}" th:unless="${status.index == 0}"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active" th:each="image,status : ${#strings.arraySplit(remscholar.attachments, '|')}" th:if="${status.index == 0}">
                                <img th:src="'images/'+${image}" class="d-block w-100">
                            </div>
                            <div class="carousel-item" th:each="image,status : ${#strings.arraySplit(remscholar.attachments, '|')}" th:unless="${status.index == 0}">
                                <img th:src="'images/'+${image}" class="d-block w-100">
                            </div>
                        </div>
                        <a class="carousel-control-prev" th:href="${'#cardCarousel_'+pos.index}" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" th:href="${'#cardCarousel_'+pos.index}" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="card-body" data-toggle="modal" data-target="#exampleModal"
                         th:attr="data-scholarshiptype=''+${remscholar.scholarshipType}+'', data-childname=''+${remscholar.childName}+''
                            , data-relationship=''+${remscholar.relationship}+'', data-financialyear=''+${remscholar.financialYear}+''
                            , data-collegename=''+${remscholar.collegeName}+'', data-applicationtype=''+${remscholar.applicationType}+''
                            , data-passingyear=''+${remscholar.passingYear}+'', data-percentage=''+${remscholar.percentage}+''
                            , data-scholarshipamount=''+${remscholar.scholarshipAmount}+'', data-remarks=''+${remscholar.remarks}+''
                            , data-id=''+${remscholar.id}+''
                            , data-attachments=''+${remscholar.attachments}+''">
                        <h5 class="card-title" th:text="${remscholar.scholarshipType}"></h5>
                        <p class="card-text-label"><i class="bi bi-pen"></i>Scholarship Type</p>
                        <p class="card-text-value" th:text="${remscholar.scholarshipType}"></p>
                        <p class="card-text-label"><i class="bi bi-person-badge"></i>Child Name</p>
                        <p class="card-text-value" th:text="${remscholar.childName}"></p>
                        <p class="card-text-label"><i class="bi bi-pen"></i>Relationship</p>
                        <p class="card-text-value" th:text="${remscholar.relationship}"></p>
                        <p class="card-text-label"><i class="bi bi-pen"></i>Financial Year</p>
                        <p class="card-text-value" th:text="${remscholar.financialYear}"></p>
                        <p class="card-text-label"><i class="bi bi-pen"></i>College Name</p>
                        <p class="card-text-value" th:text="${remscholar.collegeName}"></p>
                        <p class="card-text-label"><i class="bi bi-pen"></i>Application Type</p>
                        <p class="card-text-value" th:text="${remscholar.applicationType}"></p>
                        <p class="card-text-label"><i class="bi bi-pen"></i>Passing Year</p>
                        <p class="card-text-value" th:text="${remscholar.passingYear}"></p>
                        <p class="card-text-label"><i class="bi bi-pen"></i>Percentage</p>
                        <p class="card-text-value" th:text="${remscholar.percentage}"></p>
                        <p class="card-text-label"><i class="bi bi-currency-dollar"></i>Scholarship Amount</p>
                        <p class="card-text-value amt" th:text="${remscholar.scholarshipAmount}"></p>
                       <p class="card-text-label"><i class="bi bi-journal-code"></i>Remarks</p>
                        <p class="card-text-value" th:text="${remscholar.remarks}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>